{
    "extends": ["@gravity-ui/eslint-config", "@gravity-ui/eslint-config/prettier"],
    "env": {
        "node": true
    },
    "root": true,
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "rules": {
        "no-console": "off"
    }
}
